name: Cron Job

on:
  schedule:
    - cron: "0 * * * *" # runs every hour
  workflow_dispatch:     # lets you run manually from the GitHub UI

jobs:
  run-cron:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Run cron script
        run: go run main.go
